

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-darkblue">
      <h6 class="display-6 navbar-text">Kelvin Lau's project I assignment site.</h6>
    </nav>
  </footer>