

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-darkblue">
      <h6 class="display-6 navbar-text">Project II Team 3 assignment site.</h6>
    </nav>
  </footer>
<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!--script src="/Scripts/app.js"></script-->


</body>
</html>