<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>

  <div style="text-align: center;">
    <a href="/Home">Book</a> | 
    <a href="/Home">Search</a> | 
    <a href="/Home">Request LC</a> | 
    <a href="/Home">About</a>
  </div>
</body>
</html>
