
<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-grey">
  <% if (typeof user === 'undefined') { %>
    <a class="navbar-brand" href="/" style="border:3px solid white">Library</a>
  <% } else  { %>
    <a class="navbar-brand" href="/"> Welcome, <%= user.name %>!</a>
  <% } %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <% if (title == "Home"){ %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/closed/home"><i class="fa-solid fa-house"></i> Home </a>
      </li>

      <% if (title == "Book List") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/closed/booklist"><i class="fa-solid fa-toolbox"></i> Books </a>
        </li>

      <% if (title == "borrow") { %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/closed/borrow"><i class="fa-regular fa-id-card"></i> Borrow </a>
      </li>

      <% if (title == "Return") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/closed/return"><i class="fa-solid fa-toolbox"></i> Return </a>
        </li>


      <% if (typeof user === 'undefined') { %>
        <% if (title == "Register") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/closed/register"><i class="fa-solid fa-toolbox"></i> Register </a>
          </li>

        <% if (title == "Login") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/closed/login"><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Log in </a>
          </li>

      <% } else  { %>

        <% if (title == "Logout") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
          <form id='logoutForm' action="/users/v1closed/logout?_method=DELETE" method="POST">
            <a class="nav-link" href="javascript:;" onclick="document.getElementById('logoutForm').submit();"><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Logout </a>
            <!--a class="nav-link" href="/users/v1/logout?_method=DELETE"><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Logout </a-->
          </form>
          </li>
      <% } %>


      


  </div>
</nav>