
<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>
  

  <!-- Main Content -->
  <div class="main">
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Book list</h1>
        <a href="/closed/addbookform">Add books</a>
        <div style="display: flex">
          <table id="bookTable">
            <tr>
            <td style="min-width: 100px">ID</td>
            <td style="min-width: 100px">ISBN</td>
            <td style="min-width: 100px">Book name</td>
            <td style="min-width: 100px">Author Name</td>
            <td style="min-width: 100px">Availability</td>
          </tr>
            <tr>
              <td>loading....</td>
            </tr>
          </table>
        </div>
      </div>
    </main>
  </div>

<script>
  async function fetchAllBooks(){
    try {
        let res = await fetch('/books/v1/getall')
        let answer = await res.json()
        //console.log(answer)
        let htmlAttachment = `<tr>
              <td style="min-width:200px;">
                id
              </td>
              <td style="min-width:200px;">
                book name
              </td>
              <td style="min-width:100px;">
                availability
              </td>
              <td style="min-width:200px;">
                expiration date and borrower
              </td>
            </tr>`
        //console.log(answer)
        answer.forEach(item => {
            let htmlSegment = `
            <tr>
                <td>
                    ${item.id}
                </td>
                <td>
                    ${item.name}
                </td>
                <td>
                    ${item.bookStatus}
                </td>
                <td>
                    ${item.expiryDate.split("T")[0]} ${item.borrowedBy}
                </td>
                <td>
                    <a href="/closed/editbook/${item.id}" style="text-decoration: none"><button><i class="bi bi-pencil-square"></i></button></a>
                </td>
                <td>
                    <a href ="/books/v1/delete/${item.id}" style="text-decoration: none"><button><i class="bi bi-trash"></i></button></a>
                </td>
            </tr>
            `
            htmlAttachment = htmlAttachment + htmlSegment
        })

        let htmlSegment2 = `<tr></tr><tr>                    
                    <td><a href="/closed/addbookform" style="text-decoration: none"><button><i class="bi bi-pencil-square"></i>Add New</button></a></td>
                    </tr>`
        htmlAttachment = htmlAttachment + htmlSegment2

        document.getElementById("bookTable").innerHTML = htmlAttachment
    } catch (err) {
        console.log(err)
    }

}

fetchAllBooks()
</script>
  
<%- include partials/bottom_nav_open.ejs %>  

<%- include partials/footer_open.ejs %>
  
