
<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>
  

  <!-- Main Content -->
  <div class="main">
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Borrow page</h1>
        <div style="display: flex">

        </div>
      </div>
    </main>
  </div>
  
<%- include partials/bottom_nav_open.ejs %>  

<%- include partials/footer_open.ejs %>
  




