
<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <h1 class="display-4">LOGIN SUCCESS page</h1>
        Books on the Fly! Welcome to our extensive collection of literary works.
    </main>

  <script>

  </script>
  
<%- include partials/bottom_nav_open.ejs %>  

<%- include partials/footer_open.ejs %>
  




