
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <h1 class="display-4">LOGIN SUCCESS page</h1>
    Books on the Fly! Welcome to our extensive collection of literary works.
    </main>

  <script>

  </script>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




