

<%- include partials/header_open.ejs %>

<%- include partials/main_nav_open.ejs %>
    <!-- change all time git -->
    <!-- how to git https://stackoverflow.com/questions/1221840/remote-origin-already-exists-on-git-push-to-a-new-repository -->

  <!-- Main Content -->
  <div class="main">
  <header>
    <div class="hero-section">
      <div class="welcome-text">
        <h1>Library Book Borrowing and Returning System</h1>
        <p>Explore our collection of books and find your next adventure!</p>
        <div class="get-started">
          <p>Get Your Library Card Today To Use The Library Features!</p>
          <a href="#" class="get-started-btn">Get Started Today</a>
        </div>
      </div>
      <div class="book-slider">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../Assets/images/book1.jpg"
                alt="Book 1"
                class="d-block w-100"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../Assets/images/book2.jpg"
                alt="Book 2"
                class="d-block w-100"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../Assets/images/book3.jpg"
                alt="Book 3"
                class="d-block w-100"
              />
            </div>
            <!-- Add more book images as needed -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <h2>Available Books</h2>
      <!-- copy from booklist, need clean up code -->
    <div class="jumbotron">
      <h1 class="display-4">Book list</h1>
      <div style="display: flex">
        <table id="bookTable">
          <tr>
          <td style="min-width: 100px">ID</td>
          <td style="min-width: 100px">ISBN</td>
          <td style="min-width: 100px">Book name</td>
          <td style="min-width: 100px">Author Name</td>
          <td style="min-width: 100px">Availability</td>
        </tr>
          <tr>
            <td>loading....</td>
          </tr>
        </table>
      </div>
    </div>
  </main>
</div>



<script>
  async function fetchAllBooks(){
    try {
        let res = await fetch('/books/v1/getall')
        let answer = await res.json()
        //console.log(answer)
        let htmlAttachment = `<tr>
              <td style="min-width:200px;">
                id
              </td>
              <td style="min-width:200px;">
                Title
              </td>
            </tr>`
        //console.log(answer)
        answer.forEach(item => {
            let htmlSegment = `
            <tr>
                <td>
                    ${item.id}
                </td>
                <td>
                    ${item.name}
                </td>
            </tr>
            `
            htmlAttachment = htmlAttachment + htmlSegment
        })


        document.getElementById("bookTable").innerHTML = htmlAttachment
    } catch (err) {
        console.log(err)
    }

}

fetchAllBooks()
</script>
  
<%- include partials/bottom_nav_open.ejs %>  

<%- include partials/footer_open.ejs %>
  




