

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <div class="main">
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Return page</h1>
        <br /> <br />
        <!-- project item -->
        <div style="display: flex">
          
        </div>
        <!-- project item -->
        

      </div>
    </main>
  </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




