<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>This is the RBook Borrowing Result Page!</title>
</head>
<body>
  <h1>Search Results</h1>
  <ul>
    <!-- can be changed depending on the actual names we are using in the code -->
    <% books.forEach(function(book) { %>
      <li><%= book.title %> by <%= book.author %></li>
    <% }) %>
  </ul>
</body>
</html>