

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">Copyright - BooksOnTheFly 2023</h6>
    </nav>
  </footer>



</body>
</html>